#loading-section{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    z-index: 4;
}

#loading-section .split-word{
    width: 100%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: var(--small-heading-size);
}

#loading-section .split-word .letter{
    position: relative;
}

@media screen and (max-width: 576px) {
    #loading-section .split-word{
        font-size: var(--largest-heading-size);
    }
}