* {
  padding: 0;
  margin: 0;
}

html.has-scroll-smooth {
  backface-visibility: hidden;
  transform: translateZ(0);
  height: 100vh;
}

* h1 {
  font-weight: 400;
  pointer-events: none;
}

* p {
  pointer-events: none;
}

* .letter {
  position: relative;
  opacity: 0;
}

#app .red {
  color: black;
  opacity: 0.5;
  font-weight: 500;
}

[data-load-container] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

#app {
  box-sizing: border-box;
  width: auto;
  height: auto;
  font-family: var(--font-family);
  overflow: hidden !important;
}

#app.loading {
  overflow: hidden;
  height: 100vh;
}

#pages {
  padding: 0 2em;
  height: auto;
  perspective: 2px;
}

section {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10em;
}

#first-page-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  overflow: hidden;
}


#first-page-section .split-word {
  overflow: hidden;
  text-align: center;
  display: flex;
}

#first-page-section .split-word .letter {
  flex: 1;
  font-family: var(--font-family);
  font-size: 9vw;
  font-weight: 500;
  top: 10;
  color: black;
}


#first-page-section #first-page-image-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
}

#first-page-image-section .line {
  position: relative;
  width: 20vw;
  opacity: 0;
  height: 100%;
  border-radius: 10px;
}

#first-page-section #first-page-image-section img {
  transform: translate(0%, 0%);
  width: 100%;
  position: relative;
  opacity: 0;
}

#first-page-section #section-headings {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#first-page-section #section-headings #mini-headings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#section-headings #mini-headings>div {
  display: flex;
  flex-wrap: wrap;
}

#first-page-section #section-headings #mini-headings .mini-heading-section {
  text-align: left;
  margin-right: 3em;
  opacity: 0;
  position: relative;
}

#mini-headings .mini-heading-section h1 {
  font-size: var(--small-font-size);
  font-weight: 300;
  opacity: 0.3;
}

#mini-headings .mini-heading-section p {
  font-size: var(--small-font-size);
}

#featured-projects-section {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

#featured-projects-section #me-intro-section {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#me-intro-section #me-intro-content {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 5em 0;
  position: relative;
}

#featured-projects-section #me-intro-section #me-intro-content h1 {
  font-size: var(--small-heading-size);
  width: 80%;
  font-weight: 200;
}


#me-intro-section #me-intro-numbers {
  flex: 1;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  row-gap: 6em;
  margin: 0 10em;
  justify-content: center;
  align-items: center;
}

#me-intro-section #me-intro-numbers .mini-heading-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  overflow: hidden;
}

#me-intro-section #me-intro-numbers .mini-heading-section p {
  text-align: left;
  width: 100%;
  font-weight: 500;
  font-size: var(--small-font-size);
}

#me-intro-section #me-intro-numbers .mini-heading-section .letter {
  font-size: 10vw;
  top: -50;
  line-height: 1;
  font-weight: 300;
}

#featured-projects-section #featured-projects-wrapper {
  height: 100vh;
  margin: 10em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#featured-projects-section #featured-projects-wrapper .letter {
  font-size: var(--regular-heading-size);
  opacity: 0;
}

#featured-projects-section #featured-projects-wrapper #project-wrapper-heading {
  overflow: hidden;
  display: flex;
  align-items: center;
}

#featured-projects-section #featured-projects-wrapper #project-wrapper-heading .split-word {
  overflow: hidden;
  margin: 3em 0;
}

#featured-projects-wrapper #project-windows-grid {
  position: relative;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

#featured-projects-wrapper #project-windows-grid .project-window {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
}

#featured-projects-wrapper #project-windows-grid .project-window #project-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#project-windows-grid .project-window #project-image-wrapper img {
  height: 100%;
}

#featured-projects-wrapper #project-windows-grid .project-window #project-window-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  z-index: 3;
  color: white;
  backdrop-filter: blur(1px) contrast(1.2) brightness(0.8);
}

#project-windows-grid .project-window #project-window-content h1 {
  font-size: var(--small-font-size);
}

#working-style-section {
  height: auto;
}

#working-style-section #work-style-heading {
  overflow: hidden;
  display: flex;
  align-items: center;
}


#working-style-section #work-style-heading .split-word {
  margin: 3em 0;
  overflow: hidden;
}

#working-style-section #work-style-heading .letter {
  font-size: var(--regular-heading-size);
  opacity: 1;
  position: relative;
}

#working-style-section #work-style-heading h1 {
  font-size: var(--regular-heading-size);
  opacity: 0;
  position: relative;
}


#working-style .work-style-container {
  margin: 3em 0 0 0;
  display: flex;
  flex-direction: column;
}

#working-style .work-style-container #work-heading {
  border-bottom: 0.5px solid red;
  opacity: 0.5;
  overflow: hidden;
  padding: 0.2em 0;
}

#working-style .work-style-container #work-heading h1 {
  font-size: var(--small-font-size);
  font-weight: 500;
}


#working-style .work-style-container p {
  text-align: left;
  font-size: var(--large-font-size);
  width: auto;
  line-height: 1.4;
  margin: 0.2em 0 0 55%;
}

#working-style .work-style-container p img {
  width: 50px;
  height: 50px;
  margin: 20px 0;
}

#skills-section {
  height: 100%;
}

#skills-section #skills-section-heading-wrapper {
  overflow: hidden;
}

#app #skills-section #skills-section-heading-wrapper .split-word .letter {
  font-size: var(--large-font-size);
  opacity: 0.5 !important;
}

#skills-section #skills-section-content-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2em 0;
}

#skills-section #skills-section-content-wrapper .skill-card {
  display: flex;
  width: auto;
  align-items: center;
  overflow: hidden;
}

#skills-section #skills-section-content-wrapper .split-word {
  overflow: hidden;
}

#skills-section #skills-section-content-wrapper .letter {
  font-size: var(--small-heading-size);
  font-weight: 400;
}

#skills-section #skills-section-content-wrapper img {
  position: relative;
  height: 15vh;
  opacity: 0;
  margin: 10px;
}

#services-section {
  height: 100%;
}

#services-section-heading .split-word .letter {
  font-size: var(--large-font-size);
  opacity: 1 !important;
}

#services-section #services-section-content-wrapper {
  display: inline-flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

#services-section #services-section-content-wrapper>div {
  flex: 0.45;
}

#services-section-content p {
  font-size: var(--large-font-size);
  line-height: 1.4;
  opacity: 0.4;
}


#services-wrapper .service {
  overflow: hidden;
  margin-bottom: 2em;
}

#services-wrapper .service #service-heading {
  display: flex;
  align-items: center;
  padding: 0 0 1em 0;
  justify-content: space-between;
  pointer-events: none;
  color: black;
  border-bottom: 1px solid red;
  transition: color 0.5s ease-in-out,
    padding 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#services-wrapper .service #service-heading h1 {
  font-size: 3vw;
  font-weight: 300;
  position: relative;
  opacity: 0;
}

.service #service-heading .plus {
  transform: rotate(0deg);
  transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

#services-wrapper .service #service-content {
  height: 0vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid red;
  transition: height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#services-wrapper .service #service-content p {
  font-size: var(--small-font-size);
  line-height: 1.4;
  padding: 1em 0;
}

.service.show-service #service-heading .plus {
  transform: rotate(45deg);
}

#services-wrapper .service.show-service #service-content {
  height: 30vh;
}

#services-wrapper .service #service-content ol {
  opacity: 0.5;
}

#services-wrapper .service #service-content ol li {
  font-size: var(--small-font-size);
  color: red;
}

#services-wrapper .service.show-service #service-heading {
  color: red;
  padding: 0 6em 1em 6em;
}

#final-image-section {
  height: 60vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

#final-image-wrapper {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  overflow: hidden;
}

#final-image-wrapper img {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
}


@media screen and (max-width: 576px) {

  #app section {
    margin-bottom: 4em;
  }

  #pages {
    padding: 0 1em;
  }

  #app #first-page-section #mini-headings {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #app #first-page-section {
    height: auto;
  }

  #app #first-page-section #first-page-image-section {
    height: 80vh;
    box-sizing: border-box;
  }

  #app #first-page-section #first-page-image-section img {
    height: 100%;
    width: auto;
    top: -50px;
  }

  #mini-headings>div {
    flex-direction: column;
    justify-content: flex-start;
  }

  #mini-headings .mini-heading-section {
    margin: 5px 0;
  }

  #mini-headings .mini-heading-section h1 {
    font-size: var(--mob-regular-font-size);
    font-weight: 300;
    opacity: 0.3;
  }

  #mini-headings .mini-heading-section p {
    font-size: var(--mob-regular-font-size);
  }

  #featured-projects-section #featured-projects-wrapper {
    margin: 4em 0;
  }

  #featured-projects-section #me-intro-section #me-intro-content {
    margin: 4em 0;
  }

  #featured-projects-section #me-intro-section #me-intro-content h1 {
    font-size: var(--mob-large-font-size);
    width: 100%;
  }

  #me-intro-section #me-intro-numbers {
    box-sizing: border-box;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4em;
    margin: 0;
  }

  #me-intro-section #me-intro-numbers .mini-heading-section {
    align-items: flex-start;
  }

  #me-intro-section #me-intro-numbers .mini-heading-section p {
    font-size: 16px;
    margin: 20px 0 0 0;
    text-align: left;
  }

  #me-intro-section #me-intro-numbers .mini-heading-section .letter {
    font-size: var(--mob-largest-font-size);
  }

  #app #featured-projects-wrapper #project-wrapper-heading {
    margin-bottom: 2em;
  }

  #app #featured-projects-wrapper #project-wrapper-heading .split-word {
    margin: 0;
  }

  #featured-projects-wrapper #project-wrapper-heading .letter {
    font-size: var(--mob-large-font-size);
  }

  #featured-projects-wrapper #project-windows-grid {
    grid-template-columns: 1fr;
  }

  #featured-projects-wrapper #project-windows-grid #project-image-wrapper img {
    height: auto;
    width: 100%;
  }

  #working-style-section #work-style-heading .split-word {
    margin: 0;
  }

  #working-style-section #work-style-heading .letter {
    font-size: var(--mob-large-font-size);
  }

  #working-style-section #work-style-heading h1 {
    font-size: var(--mob-large-font-size);
  }

  #working-style-section .work-style-container p {
    margin: 0;
    font-size: var(--small-font-size);
  }

  #working-style-section .work-style-container #work-heading h1 {
    font-size: var(--very-small-font-size);
  }

  #skills-section {
    height: 100%;
  }

  #skills-section #skills-section-content-wrapper .skill-card {
    padding: 0.2em 0;
  }

  #skills-section #skills-section-content-wrapper .letter {
    font-size: var(--mob-large-font-size);
    font-weight: 400;
  }

  #skills-section #skills-section-content-wrapper img {
    margin: 0 10px;
    height: 7vh;
  }

  #services-section #services-section-heading {
    margin: 1em 0;
  }

  #services-section-content p {
    font-size: var(--small-font-size);
  }

  #services-section #services-section-content-wrapper {
    flex-direction: column;
  }

  #services-section-content-wrapper #services-wrapper {
    margin: 3em 0;
  }

  #services-wrapper .service #service-heading h1 {
    font-size: var(--mob-large-font-size);
  }

  #services-wrapper .service.show-service #service-heading {
    padding: 1em 0.1em;
  }

  #services-wrapper .service.service.show-service #service-content {
    height: 50vh;
  }

  #app #final-image-section #final-image-wrapper img {
    height: 100vh;
    width: auto;
  }

}