@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

:root{
    --largest-heading-size: 200px;
    --large-heading-size: 100px;
    --regular-heading-size: 60px;
    --small-heading-size: 30px;

    --p-regular: 1.2rem;

    --sixty-four-font: 'Sixtyfour';

    --container-padding: 0 10em;

    --p-color: #F8F9FA;
    --heading-color: #E9ECEF;
    --main-bg-color: '';
    --secondary-bg-color: #ADB5BD;
}